[submodule "libodsi"]
    path = libodsi
    url = git@github.com:ymah/libodsi.git
[submodule "pip-freertos"]
    path = pipcore-mp/src/partitions/x86/pip-freertos
    url = git@github.com:ymah/pip-freertos.git
[submodule "libfreertos"]
	path = libfreertos
	url = git@github.com:ymah/libfreertos.git


