[submodule "libodsi"]
    path = libodsi
    url = https://github.com/ymah/libodsi.git
[submodule "pip-freertos"]
    path = pipcore-mp/src/partitions/x86/pip-freertos
    url = https://github.com/ymah/pip-freertos.git
[submodule "libfreertos"]
	path = libfreertos
	url = https://github.com/ymah/libfreertos.git

[submodule "demo_gpio"]
    path = pipcore-mp/src/partitions/x86/demo_gpio
    url = https://github.com/ymah/demo_gpio.git
